@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
:root {
  --primary-color: rgb(218, 145, 11);
}

body {
  font-family: 'Work Sans';
  background: rgba(219, 194, 194, 0.884);
  margin: 0;
}

.navbar {
  background: white;
  padding: 1em;
  /* Hamburger Menu */
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.4em;
}

.navbar span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  color: gray;
  letter-spacing: .4em;
}

.left-col h3 {
  font-size: 2.5em;
  line-height: 1.5em;
  margin-top: .2em;
}

.left-col span {
  color: var(--primary-color);
}

.hero-img {
  width: 80%;
  margin-top: 3em;
  border-radius: 12em;
}

.form-container {
  background-color: rgba(245, 234, 234, 0.884);
  margin: 0;
  border-radius: 1em;
}

.form-container label {
  color: var(--primary-color);
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
  padding-top: 1em;
  font-size: 1.6em;
}

.form-container input[type=text] {
  border: 1px solid #707070;
  width: 90%;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: .5em;
  margin-top: 1.2em;
}

.form-container p {
  color: gray;
  margin-bottom: 1.5em;
  font-weight: normal;
  font-size: .9em;
  margin-top: .3em;
}

.form-container input[type=button] {
  background: var(--primary-color);
  border: none;
  width: 90%;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  border-radius: .5em;
  font-size: 1.3em;
  cursor: pointer;
}

.form-container input[type=button]:hover {
  background: #F89104;
}

.steps-section {
  background: var(--primary-color);
  color: white;
}

.steps-section li {
  background: #F89104;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em;
  border-radius: 1em;
}

.steps-section img {
  width: 8em;
  height: 8em;
  border: 5px solid #F89104;
  border-radius: 50%;
  margin-top: -4.5em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: rgba(32, 39, 46, 0.541);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  place-content: center;
  color: white;
  display: none;
  opacity: 0;
}

.animate-overlay {
  -webkit-animation: overlay 3s forwards;
          animation: overlay 3s forwards;
}

@-webkit-keyframes overlay {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 730px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.sign-up-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.sign-up-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  .navbar nav .form-container {
    margin: 2em -4em 0;
  }
  .hero-img {
    border-radius: 18em;
  }
}

@media only screen and (min-width: 930px) {
  .container {
    width: 930px;
    margin: auto;
  }
  section {
    padding: 7em 2em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h3 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-left: 5em;
    border-radius: 18em;
  }
  .form-container {
    margin: 2em 0 0;
    padding: 2em;
    border-radius: .5em;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-left {
    width: 100%;
  }
  label {
    margin: 0;
  }
  input[type="button"] {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.1em;
    margin-left: 1em;
    margin-top: 3.3em;
    padding: .7em 0;
    width: auto;
  }
  .steps-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30em;
    line-height: 1.5em;
  }
  .steps-section ul li {
    margin: 0 1em;
  }
}
/*# sourceMappingURL=main.css.map */